// Import fonts ⌨️
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

// Color palette 🎨
$seasalt-white: #F9F9F9;
$antiflash-white: #EBEBEB;
$night-black: #0C120C;

$bice-blue: #1B70B1;
$argentinian-blue: #5AA9E6;
$light-sky-blue: #7FC8F8;

$gold-yellow: #FFD60A;
$sunglow-yellow: #FFC857;
$cornsilk-yellow: #FFF8D6;

$burgundi-red: #8C1827;
$crimson-red: #D7263D;
$salmon-red: #ED96A2;

$primary: $argentinian-blue;
$secondary: $antiflash-white;
$success: $bice-blue;
$info: $light-sky-blue;
$warning: $sunglow-yellow;
$danger: $crimson-red;
$light: $seasalt-white;
$dark: $night-black;

// Styles
$border-radius: 0.8rem;

$enable-shadows: true;

$focus-ring-width: 0.2rem;

$font-family-sans-serif: "Nunito Sans", sans-serif;

$input-btn-padding-x: 1rem;
$input-padding-y-lg: 1rem;
$input-padding-x-lg: 1.5rem;
$input-border-radius-lg: 2rem;

$alert-border-width: 3px;

// Import bootstrap (●'◡'●)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Import bootstrap icons (✿◡‿◡)
$bootstrap-icons-font-src: url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

// General styles 🪐
body, html {
    min-height: 100vh;
}

.noto-color-emoji-regular {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.search-input {
    position: relative;

    .icon {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        right: calc($input-padding-x + 1rem);
        color: $input-placeholder-color;
    }
}

// Search cards
.universities, .majors, .subjects, .teachers{
    .btn {
        border-radius: $border-radius-xl;

        &:hover {
            background-color: $primary;
            border-color: $light-sky-blue;
        }
    }
}

// Teacher page styles
.reactions {
    span {
        font-style: normal;
        font-size: 1rem;
    }
    .btn {
        height: 2.5rem;
        min-width: 4rem;
        span {
            color: $dark-text-emphasis;
        }
    }
}

.stars {
    position: relative;
    
    input {
        opacity: 0;
        position: absolute;
        height: 100%;
    }

    i {
        transition: $btn-transition;
        font-size: 22px;
        color: $sunglow-yellow;
    }
}

@media screen and (min-width: 768px) {
    .teacher-card {
        display: grid !important;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr 3rem;
        grid-template-areas: "description warning"
                             "description reactions";
    }
    .description {
        grid-area: description
    }
    .reactions {
        grid-area: reactions;
    }
    .warning {
        grid-area: warning;
    }
}