<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherScore</title>
    <link rel="stylesheet" href="/assets/styles/main.min.css">

    <!-- TESTING: Will be replaced for a partial template in the server -->
    <script type="module" src="/components/header.js"></script>
</head>

<body class="d-flex flex-column"> 
    <header-component></header-component>
    
    <div class="container flex-grow-1 d-flex align-content-center flex-column row-gap-3 p-4">
    
        <div class="search-bar container-xxl d-flex justify-content-center align-items-center flex-column p-0">
            <h3>Materia</h3>
            <h5>Profesores</h5>
            <input type="text" class="form-control" id="search-input" placeholder="Profesor" aria-label="Profesor">
        </div>
    
        <div class="subjects d-flex align-content-stretch flex-column row-gap-2 flex-wrap">
            <button type="button" class="image-card btn btn-dark card mb-3 w-100">
                <div class="row g-0 w-100">
                    <div class="col-4 col-sm-2 col-xl-1 d-flex align-items-center p-2">
                        <img src="/assets/logo-placeholder.png" class="logo img-fluid rounded-start" alt="university-logo">
                    </div>
                    <div class="col d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title text-start">Titulo</h5>
                            <p class="card-text text-start"></p>
                        </div>
                    </div>
                </div>
            </button>
        </div>

        
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById("search-input").addEventListener("keydown", (event) => {
            if (event.key === "Enter") {
                event.preventDefault();
                window.location.href = "view-teacher.html";
            }
        });
    </script>
</body>

</html>