<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherScore</title>
    <link rel="stylesheet" href="/assets/styles/main.min.css">
    <script src="/assets/js/main.js"></script>

    <!-- TESTING: Will be replaced for a partial template in the server -->
    <script type="module" src="/components/header.js"></script>
</head>

<body class="d-flex flex-column"> 
    <header-component></header-component>
    
    <div class="teacher-card container py-4 d-flex flex-column gap-3 gap-md-2">
        <div class="warning container d-flex justify-content-center">
            <div class="alert alert-danger d-flex justify-content-center align-items-center w-100 m-0" role="alert" style="min-height: 120px;">                    
                <img src="/assets/red-alert-icon.svg" class="img-fluid me-2" style="width: 60px;">
                <span class="text-center"><strong>Este profesor tiene muchas críticas negativas</strong></span>
            </div>
        </div>

        <div class="description d-flex flex-column align-items-center">
            <img src="/assets/logo-placeholder.png" alt="Teacher Image" class="img-fluid rounded-circle mb-2" style="width: 160px;">
            <h5 class="text-center">Profesor Apellido Apellido</h5>
            <ul class="list-unstyled text-center row row-cols-2">
                <li>Materia 1</li>
                <li>Materia 2</li>
                <li>Materia 3</li>
                <li>Materia 4</li>
            </ul>
            <div class="stars d-flex column-gap-1 justify-content-center">
                <input max="5" step="0.5" type="range" value="5">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>

        <hr class="d-md-none">

        <div class="reactions container d-md-flex justify-content-end">
            <div class="d-flex justify-content-center align-items-center gap-2 flex-wrap">
                <button type="button" class="btn btn-outline-secondary rounded-pill btn-sm">
                    <span class="noto-color-emoji-regular">❤️</span>
                    <span class="count">0</span>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-pill">
                    <span class="noto-color-emoji-regular">👍️</span>
                    <span class="count">0</span>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-pill">
                    <span class="noto-color-emoji-regular">😐</span>
                    <span class="count">0</span>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-pill">
                    <span class="noto-color-emoji-regular">🙁</span>
                    <span class="count">0</span>
                </button>
                <button type="button" class="btn btn-outline-secondary rounded-pill">
                    <span class="noto-color-emoji-regular">🥵</span>
                    <span class="count">0</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="container mt-4">
        <h4>Comentarios</h4>
        <div class="list-group d-flex gap-2">
            <div class="comment list-group-item rounded">
                <div class="d-flex w-100 column-gap-2 align-items-center">
                    <img src="/assets/logo-placeholder.png" alt="User" class="avatar rounded-circle" style="width: 60px; height: 60px;">
                    <div class="w-100 d-flex flex-column justify-content-center column-gap-2 align-items-stretch">
                        <div class="d-flex justify-content-between">
                            <span class="user"><strong>@usuario</strong></span>
                            <small class="date">Mes dia, año</small>
                        </div>
                        <p class="text m-0">Contenido del comentario.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>